html, body {
  padding: 0;
  margin: 0;
  font-family: open sans, segoe ui, freesans, sans-serif; }

body {
  background-color: whitesmoke;
  padding-top: 23px; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

header .navtop {
  height: 20px;
  background-color: #222222;
  font-size: 0.8em; }
  header .navtop.navbar-static-top {
    height: 40px;
    line-height: 38px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
  header .navtop a {
    color: #eeeeee;
    text-decoration: none; }
    header .navtop a:hover {
      color: white;
      text-decoration: underline; }
  header .navtop ul li {
    padding-right: 20px;
    float: left;
    list-style-type: none; }
  header .navtop ul.pull-right li {
    padding: 0 0 0 20px; }
    header .navtop ul.pull-right li span {
      padding-right: 10px;
      color: #eeeeee;
      font-weight: 400; }
      header .navtop ul.pull-right li span a {
        text-decoration: none; }
header .navbottom {
  position: absolute;
  top: 59px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 5%; }
  header .navbottom li {
    display: inline; }
    header .navbottom li a {
      display: inline-block;
      text-decoration: none;
      background-color: #dddddd;
      color: #666666;
      font-size: 12px;
      font-weight: 700;
      line-height: 25px;
      padding: 5px 20px;
      border-top: 1px solid #dddddd; }
    header .navbottom li.active a {
      background-color: white;
      color: #111111;
      border-top: 1px solid #e34a32; }
header .nav {
  float: left;
  margin: 0;
  padding: 0; }
  header .nav.pull-right {
    float: right; }
header .navbar {
  margin-bottom: 40px; }
  header .navbar .nav > li > a, header .navbar a.brand {
    padding-left: 0;
    color: black;
    text-shadow: #222222 0 0 1px;
    text-decoration: none; }
header .navbar-inner {
  height: 32px; }
  header .navbar-inner .brand {
    font-size: 28px; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

h1.page-title {
  font-size: 1.5em;
  color: #333333;
  margin: 10px; }

h3.feedback-title {
  color: #333333;
  margin: 0;
  font-size: 22px;
  line-height: 36px; }

#actions {
  padding-top: 20px; }
  #actions ul {
    list-style: none;
    margin: 0;
    padding: 0 25px 0 0; }
    #actions ul li {
      float: left;
      margin: 0 2px 0 0;
      padding: 8px 0; }
      #actions ul li a {
        color: white;
        text-shadow: 1px 1px 0 #6e797d;
        text-decoration: none;
        font-weight: 700;
        background-color: #959ea2;
        padding: 10px 25px; }
        #actions ul li a:hover {
          text-shadow: 1px 1px 0 #51595c;
          background-color: #6d787c; }

.span8 {
  float: left;
  width: 80%; }

.span4 {
  float: right;
  width: 15%; }

#sidebar h4 {
  font-weight: 400;
  text-transform: uppercase;
  color: #777777; }
#sidebar ul {
  list-style: none;
  margin-bottom: 20px;
  padding: 0; }
  #sidebar ul li {
    margin-bottom: 10px; }
    #sidebar ul li:hover a {
      text-decoration: underline; }
    #sidebar ul li.active a {
      color: black;
      font-weight: 700; }
    #sidebar ul li a {
      display: block;
      text-decoration: none;
      color: #444444; }

#submit form {
  margin-right: 20px;
  padding-top: 10px; }
  #submit form .control-group {
    padding: 10px; }
    #submit form .control-group label {
      font-weight: 700;
      display: block;
      line-height: 34px;
      font-size: 14px; }
    #submit form .control-group.error {
      background: #ffeeee; }
  #submit form input[type="text"], #submit form textarea {
    border: 1px solid #cccccc;
    padding: 12px;
    width: 96%; }
    #submit form input[type="text"]:focus, #submit form textarea:focus {
      outline: none;
      border: 1px solid #888888; }
  #submit form select {
    border: 1px solid #cccccc;
    padding: 7px;
    width: 99%; }
  #submit form input[type="checkbox"] {
    margin: 10px; }

#feedback {
  background-color: white; }
  #feedback .add-new {
    background-color: #0b486b;
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    padding: 3px 10px; }
  #feedback h2 {
    margin: 0; }
  #feedback ul.feedback-list {
    padding: 20px; }
    #feedback ul.feedback-list .details {
      padding: 10px 30px; }
    #feedback ul.feedback-list li {
      border-top: 1px solid #dddddd;
      min-height: 160px; }
      #feedback ul.feedback-list li.feedback-private {
        background-color: #ebfeef; }
      #feedback ul.feedback-list li.feedback-type-problem {
        background: snow; }
      #feedback ul.feedback-list li h3 {
        font-size: 18px;
        margin: 0; }
        #feedback ul.feedback-list li h3 a {
          text-decoration: none; }
      #feedback ul.feedback-list li a {
        color: #0b486b; }

footer {
  margin: 5px 0 20px; }
  footer a {
    color: #989898;
    text-shadow: 0 1px 0 white;
    font-size: 0.8em; }

.container-fluid {
  width: 90%;
  margin: 0 auto; }

span.feedback-status, span.feedback-type {
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 2px 8px; }
span.feedback-status {
  background-color: #d2f4f6;
  color: #326c6f; }
span.feedback-status-accepted {
  background-color: #d8f4ff;
  color: #3a95c4; }
span.feedback-status-done {
  background-color: #e4ffbc;
  color: #499e00; }
span.feedback-status-new {
  background-color: #ffd8d8;
  color: #ff4e4e; }
span.feedback-type {
  background-color: #219da4;
  color: white; }
span.feedback-type-problem {
  background-color: #ff4e4e; }
span.feedback-type-general {
  background-color: #499e00; }
span.feedback-type-idea {
  background-color: #3a95c4; }
span.feedback-type-wontdo {
  background-color: #a760ff; }
span.feedback-type-question {
  background-color: #009e8e; }

.feedback-comments {
  font-size: 11px; }
  .feedback-comments h4.feedback-title {
    margin-bottom: 0; }
  .feedback-comments textarea {
    font-size: 1.1em;
    width: 100%;
    height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.feedback-user, .feedback-date {
  font-size: 11px;
  color: #727c82; }

#feedback-detail-heading {
  margin: 0;
  padding: 10px 0 0; }
  #feedback-detail-heading .feedback-type {
    margin-right: 10px;
    vertical-align: middle; }

.message.staff {
  background-color: #f0faff; }
  .message.staff .staff {
    float: left;
    clear: left;
    padding-left: 15px;
    color: #747474;
    font-size: 11px;
    width: 46px;
    text-align: center; }

.meta {
  padding: 0;
  margin: 2px 0; }

#feedback-duplicate {
  font-size: 0.9em;
  border-bottom: 1px solid #cff09e;
  background-color: #f4ffe9;
  margin: 0 0 10px;
  padding: 10px 15px; }

.pagination {
  font-size: 0.8em;
  color: white;
  background-color: #333333;
  margin: 0;
  padding: 7px 10px;
  text-align: right; }
  .pagination span, .pagination a {
    margin: 0;
    padding: 0;
    color: white; }

#id_honeypot {
  display: none; }

#signin {
  margin: 7% auto;
  width: 490px;
  background: white;
  padding: 20px 8px;
  border: 1px solid #dddddd;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); }
  #signin table {
    width: 100%; }
    #signin table th {
      text-align: right; }
    #signin table td, #signin table th {
      padding: 10px; }
  #signin label {
    width: 200px;
    font-weight: 700;
    text-align: right;
    margin: 0 10px; }
  #signin input[type="text"], #signin input[type="password"] {
    width: 300px;
    border: 1px solid #cccccc;
    padding: 14px; }

.form-errors {
  color: red;
  font-size: 11px;
  line-height: 10px;
  padding: 4px 0 2px; }
  .form-errors ul {
    list-style: none;
    padding: 0; }
  .form-errors li {
    color: red;
    font-size: 11px;
    line-height: 10px; }

.form-cancel {
  margin-left: 15px; }

div.message {
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 0 0 1px;
  padding: 5px 0 0; }
  div.message .avatar {
    float: left;
    vertical-align: text-bottom;
    line-height: 0;
    margin: 0 10px;
    padding: 10px 4px 4px; }
  div.message .content .details {
    font-size: 11px;
    font-weight: 400;
    color: #888888;
    vertical-align: top;
    line-height: 11px;
    text-align: left;
    padding: 0 0 5px; }
div.message-content {
  min-height: 60px;
  padding: 10px 10px 10px 60px; }
div.content img {
  border: 1px solid #bbbbbb;
  padding: 2px; }

.reset-ul, #feedback ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.content-spaces, .vote_buttons {
  padding: 10px;
  font-size: 14px; }

#submit form button, .comment-form {
  margin-top: 20px; }

.btn {
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: none;
  font-weight: 700;
  background: whitesmoke;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0');
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
  border: 1px solid #dedede;
  border-color: #dedede #d8d8d8 lightgrey;
  color: #555555;
  text-shadow: 0 1px 0 white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 8px 11px;
  border-radius: 1px; }
  .btn i {
    font-style: normal;
    color: #555555; }
  .btn.score {
    margin: 5px 0;
    border: 1px solid #eeeeee;
    background: white;
    font-size: 22px;
    padding: 11px; }

.btn-group {
  display: block;
  float: left;
  text-align: center;
  width: 120px; }
  .btn-group.btn-group-vertical .btn {
    width: 70%; }
    .btn-group.btn-group-vertical .btn.voted {
      background: #d5ffd7;
      border-color: #7eff5e; }

.errorlist li {
  color: #dd7a7a;
  font-size: 16px;
  font-weight: bold; }
