.pull-right {
  float: right; }

.pull-left {
  float: left; }

.feedback-list {
  list-style-type: none;
  margin: 0; }
  .feedback-list li {
    padding: 1em;
    min-height: 9em; }
    .feedback-list li .details {
      margin-left: 100px; }
    .feedback-list li.feedback-type-question {
      background: #fff8e4; }
    .feedback-list li.feedback-type-problem {
      background: #fff5f5; }

#detail .details {
  margin-left: 80px; }

.button-group-vertical .button {
  display: block;
  margin-bottom: 1px; }

.pagination {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em; }

.vote_buttons {
  margin-right: 1em; }

#id_honeypot {
  display: none; }

.vote-button {
  opacity: 0.6; }
  .vote-button.voted {
    opacity: 1; }

.meta {
  margin-bottom: 1em;
  font-size: 90%; }

.label.feedback-status-done {
  background: #ddffdd; }

.label.feedback-status-under-review {
  background: #ffdfc2; }

.label.feedback-type-idea {
  background: #008fff;
  color: white; }

.label.feedback-type-problem {
  background: red;
  color: white; }

.side-nav li {
  margin: 0; }

.top-bar .logoed {
  margin: 0 1em;
  line-height: 2.2em; }
.top-bar form input.search {
  background: #cccccc url(/media/djangovoice/img/glyphicons_halflings_002_search.png) no-repeat 5px 50%;
  padding: 0.1rem;
  padding-left: 22px;
  font-size: 80%;
  color: #333333;
  height: 2rem;
  border-radius: 30px;
  transition: background-color 0.2s ease-in; }
  .top-bar form input.search:focus {
    background-color: whitesmoke;
    transition: background-color 0.2s ease-in; }

footer {
  margin-bottom: 1em;
  padding: 1em;
  color: #777777;
  line-height: 2em;
  font-size: 110%;
  font-style: italic;
  text-align: center; }

.errorlist {
  margin: 0; }
  .errorlist li {
    list-style-type: none;
    background: #ffdddd;
    padding: 1em;
    color: #bb0e0e;
    border: 1px solid #e9b8b8;
    border-radius: 2px; }
