{% load trans from i18n %}
{% load url from future %}
{% load get_type_list get_status_list from djangovoice_tags %}

<h5>{% trans "Status" %}</h5>
{% get_status_list list %}

<ul class="side-nav">
  <li{% ifequal status "all" %} class="active"{% endifequal %}>
    <a href="{% url 'djangovoice_list_type_status' list=list type=type status='all' %}">
      {% trans "All" %}
    </a>
  </li>

  {% for s in status_list %}
    <li{% ifequal status s.slug %} class="active"{% endifequal %}>
      <a href="{% url 'djangovoice_list_type_status' list=list type=type status=s.slug %}">
        {{ s.title }}
      </a>
    </li>
  {% endfor %}
</ul>

<br>

<h5>{% trans "What's New" %}</h5>
{% load feeds %}
{% include_feed 'http://fluidreview.com/feed/' 3 djangovoice/feed.html %}
