{% load qhonuskan_votes %}

<div class="vote_buttons pull-left" x:model="{{ vote_model }}" x:id="{{ object.id }}">
  <div class="btn-group btn-group-vertical">
  	{% if user.is_authenticated %}
    <a href="#"
       class="upVote btn btn-mini{% if object|is_up_voted_by:user %} voted{% endif %}"
       x:value="1">
      <i class="icon-chevron-up">Yes!</i>
    </a>
    {% endif %}

    <span class="btn disabled score">{{ object.vote_score|default:'0' }}</span>

    {% if user.is_authenticated %}
    <a href="#"
       class="downVote btn btn-mini{% if object|is_down_voted_by:user %} voted{% endif %}"
       x:value="-1">
      <i class="icon-chevron-down">No!</i>
    </a>
    {% endif %}
  </div>
</div>
