{% load blocktrans trans from i18n %}
{% load url from future %}
{% load voting_script from qhonuskan_votes %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}{% endblock %}{% block title_default %} | {% trans "DjangoVoice" %}{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="{% trans "Latest feedback" %}" href="{% url 'feeds_latest' %}" />

    {% block styles %}
      <link rel="stylesheet" href="{{ STATIC_URL }}djangovoice/css/normalize.css" />
      <link rel="stylesheet" href="{{ STATIC_URL }}djangovoice/css/foundation.css" />
      <link rel="stylesheet" href="{{ STATIC_URL }}djangovoice/css/style.css" />
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}djangovoice/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}djangovoice/js/foundation/foundation.js"></script>
    <script src="{{ STATIC_URL }}djangovoice/js/foundation/foundation.dropdown.js"></script>
    <script src="{{ STATIC_URL }}djangovoice/js/foundation/foundation.topbar.js"></script>

    <script>
      $(function() {
        $(document).foundation();
      });
    </script>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a>Voice</a></h1>
        </li>

        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          {% if user.is_authenticated %}
            <li class="active">
              <a>
                {% trans "Hello" %}, {{ user.first_name }}
              </a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'djangovoice_submit' %}">
                {% trans "New Request" %}
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{% url 'django.contrib.auth.views.logout' %}?next={% url 'djangovoice_home' %}">
                {% trans "Sign Out" %}
              </a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'djangovoice_signin' %}?next={% url 'djangovoice_home' %}">
                {% trans "Sign In" %}
              </a>
            </li>
          {% endif %}
        </ul>

        <ul class="left">
          {% block navigation %}
            <li class="has-dropdown">
              <a href="#">{% trans 'Requests' %}</a>
              <ul class="dropdown">
                <li><a href="{% url 'djangovoice_list' list='all' %}">{% trans "All" %}</a></li>
                <li><a href="{% url 'djangovoice_list' list='open' %}">{% trans "Open" %}</a></li>
                <li><a href="{% url 'djangovoice_list' list='closed' %}">{% trans "Closed" %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'djangovoice_list' list='mine' %}">{% trans "Mine" %}</a></li>
                {% endif %}
              </ul>
            </li>
          {% endblock %}
        </ul>
      </section>
    </nav>

    {% block body %}
    <div class="row">
      <div class="small-12 medium-12 large-10 columns">
        <div id="feedback">
          {% for message in messages %}
            <div data-alert class="alert-box">
              {{ message }}
              <a href="#" class="close">&times;</a>
            </div>
          {% endfor %}

          <br>

          {% block content %}{% endblock %}

          {% if page_obj %}
            <div class="pagination">
              <span class="step-links">
                {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}">
                    &laquo;
                  </a>
                {% endif %}

                <span class="current">
                  {% blocktrans with number=page_obj.number pages=paginator.num_pages %}
                    Page {{ number }} of {{ pages }}
                  {% endblocktrans %}
                </span>

                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">
                    &raquo;
                  </a>
                {% endif %}
              </span>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="small-0 large-2 columns show-for-large-up">
        <div id="sidebar">
          <br>
          {% block sidebar %}{% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}

    {% voting_script %}
    {% block scripts %}{% endblock %}
  </body>
</html>
