{% extends "djangovoice/base.html" %}

{% load trans from i18n %}
{% load url from future %}

{% block navbottom %}{% endblock %}

{% block title %}{% trans 'Sign in' %}{% endblock %}

{% block body %}
  <br>
  <div class="row">
    <div class="small-12 large-7 columns">
      <div id="signin">
        <form action="" method="POST">
          {% csrf_token %}

          {% for key, error in form.errors.items %}
            {{ error }}
          {% endfor %}

          <fieldset>
            <legend>Sign in</legend>

            {{ form.email.label_tag }}

            {{ form.email }}

            {{ form.password.label_tag }}

            {{ form.password }}

            <input class="button small" type="submit" value="{% trans "Sign in" %} &raquo;" />
            <input type="hidden" name="next" value="{% url 'djangovoice_list' list='all' %}" />

          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
